*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,140,255);
}
.logo{
    width: 30%;
    height: 60px;
    text-align: center;
    padding-top: 10px;
}
.menu
{
    width: 70%;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}
.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    gap:20px;
}
.menu ul li a{
    color: black;
  text-decoration: none;
  font-size: 1.3em;
  padding: 10px;
}

.menu ul li a:hover{
    background-color: rgb(0,140,255);
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.courses{
  width:100%;
  padding:20px 8%;
  text-align:center;
}

.courses h1{
    color: black;
    font-size: 2.5em;
    text-transform: uppercase;
}
.courses h4 {
    font-size: 1.7em;
    margin: 40px 0;
    color:black;
    line-height: 1.2;
}

.course-container{
  display:flex;
  gap:30px;
  justify-content:space-between;
}

.course-card{
  background:white;
  border-radius:12px;
  overflow:hidden;
  text-align:left;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
  transition:transform 0.3s ease;
  flex:0 0 calc(33.333% - 20px);
}

.course-card:hover{
  transform:translateY(-10px);
}

.course-card img{
  width:100%;
  height:220px;
  object-fit:cover;
}

.course-card h3{
  font-size:22px;
  margin:20px;
}

.course-card p{
  font-size:17px;
  margin:0 20px 25px;
  line-height:1.6;
}