*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    border: 1px solid black;
    display: flex;
    background-color: lightblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 30%;
    height: 60px;
    padding: 10px;
}
.menu
{
    width: 70%;
    /* border: 1px solid grey; */
    display: flex;
    justify-content: end;
}
.menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    gap:20px;
}
/* .menu ul li{
    display: flex;
    justify-content: center;
    align-items: center;
  margin-left: 10px;
  padding-bottom: 30px;
  font-size: 52px;
  text-align: center;
} */
.menu ul li a{
  color:black;
  text-decoration: none;
  font-size: 1.3em;
  padding: 10px;
}

.menu ul li a:hover{
    background-color: rgb(0,140,255);
    color: white;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.slider {
    width: 100%;
    height: 500px;
    overflow: hidden; 
    position: relative;
    border-bottom: 2px solid #eee;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
    animation: slide 16s infinite; 
}

.slide {
    width: 100%; 
    height: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes slide {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); } 
    25% { transform: translateX(-25%); }
    45% { transform: translateX(-25%); } 
    50% { transform: translateX(-50%); } 
    70% { transform: translateX(-50%); }
    75% { transform: translateX(-75%); } 
    95% { transform: translateX(-75%); } 
    100% { transform: translateX(0); } 
}

.slide .text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 25px;
    border-radius: 8px;
    text-transform: uppercase;
}
.about-section
{
    width: 90%;
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(183, 238, 222);

}
.about-section .about-img{
  width: 50%;
}
.about-section .about-img img{
    width: 100%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.about-content{
    width: 50%;
    min-height: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.subtitle {
    color: #ff4d4d;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.about-content h2 {
    font-size: 36px;
    margin: 15px 0;
    color: #2c3e50;
    line-height: 1.2;
}

.about-content p {
    font-size: 18px;
    color: #7f8c8d;
    line-height: 1.6;
    margin-bottom: 25px;
}

#read_more{
    display: none;
}
.courses{
    width: 90%;
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(198, 214, 230);

}
.certification h1{
    color: red;
    font-size: 1.3em;
    display: flex;
}
.course-container{
    
}
.first{
    width: 30%;
    height: 200px;
    display:flex;
}
.first img{
    width:100%;
    height: 100px;
}
.first h1{
    display: inline;
    color: aquamarine;
}
.first p{

}